/* Keyframes */
@keyframes blink-critical {
    to {
        background-color: @critical;
    }
}

/* Colors (gruvbox) */
@define-color black    #282828;
@define-color red      #cc241d;
@define-color green    #98971a;
@define-color yellow   #d79921;
@define-color blue     #458588;
@define-color purple   #b16286;
@define-color aqua     #689d6a;
@define-color gray     #a89984;
@define-color brgray   #928374;
@define-color brred    #fb4934;
@define-color brgreen  #b8bb26;
@define-color bryellow #fabd2f;
@define-color brblue   #83a598;
@define-color brpurple #d3869b;
@define-color braqua   #8ec07c;
@define-color white    #ebdbb2;
@define-color bg2      #504945;

/*
* Variant: Rosé Pine Dawn
* Maintainer: DankChoir
*/

@define-color base            #faf4ed;
@define-color surface         #fffaf3;
@define-color overlay         #f2e9e1;

@define-color muted           #9893a5;
@define-color subtle          #797593;
@define-color text            #575279;

@define-color love            #b4637a;
@define-color gold            #ea9d34;
@define-color rose            #d7827e;
@define-color pine            #286983;
@define-color foam            #56949f;
@define-color iris            #907aa9;

@define-color highlightLow    #f4ede8;
@define-color highlightMed    #dfdad9;
@define-color highlightHigh   #cecacd;

@define-color warning    @bryellow;
@define-color critical   @red;
@define-color mode       @black;
@define-color unfocused  @bg2;
@define-color focused    @braqua;
@define-color inactive   @purple;
@define-color sound      @rose;
@define-color network    @love;
@define-color memory     @iris;
@define-color cpu        @foam;
@define-color temp       @brgreen;
@define-color layout     @bryellow;
@define-color battery    @aqua;
@define-color date       @black;
@define-color time       @white;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/* The whole bar */
#waybar {
    background: rgba(40, 40, 40, 0.4);
    color: @white;
    font-family: Siji;
    font-size: 10pt;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#disk,
#user,
#mpris {
    padding-left: 8pt;
    padding-right: 8pt;
}

#backlight {
    padding-left:10pt;
    padding-right: 12pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical;
    animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
    color: @warning;
}

/* Current sway mode (resize etc) */
#mode {
    color: @white;
    background: @mode;
}

/* Workspaces stuff */
#workspaces button {
    padding-left: 2pt;
    padding-right: 2pt;
    color: @white;
    background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
    color: @white;
    background: @rose;
}

/* Active (on focused output) */
#workspaces button.focused {
    color: @black;
    background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
    color: @black;
    background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
    background: @black;
    color: @white;
}

#window {
    margin-right: 35pt;
    margin-left: 35pt;
}

#pulseaudio {
    background: @time;
    color: @black;
}

#network {
    background: @time;
    color: @black;
}

#memory {
    background: @time;
    color: @black;
}

#cpu {
    background: @cpu;
    color: @white;
}

#temperature {
    color: @white;
}

#battery {
    color: @white;
}


#clock.time {
    background: @time;
    color: @black;
}

#custom-arrow10 {
    font-size: 11pt;
    color: @unfocused;
    background: transparent;
}

